<!doctype html>
<head>
  <title>Wordhub server test</title>
  <link
      rel="icon"
      href="/images/favicon.ico">
  <style>
    td, th {
      border: 1px solid gray;
      padding: 3px;
    }
    th {
      font-weight: bold;
    }
  </style>
</head>
<body>
  <h1>Wordhub</h1>

  <form
      action="/"
      method="GET">
    <input
        type="date"
        name="date"
        value="<%= date %>">
    <input
        type="submit"
        value="Change">
  </form>

  <hr>

  <div
      style="display: flex;">
    <div
        style="padding: 10px; width: 40vw;">
      <form
          action="/flashcards"
          method="POST">
        <input
            type="hidden"
            name="actualDate"
            value="<%= date %>">
        <input
            style="width: 50px;"
            name="frontText">
        <input
            type="submit"
            value="Create Flashcard">
      </form>
      <ul>
        <% for (const flashcard of flashcards) { %>
          <li>
            <%= flashcard.id %>
            <form
                style="display: inline;"
                action="/update-flashcard"
                method="POST">
              <input
                  type="hidden"
                  name="actualDate"
                  value="<%= date %>">
              <input
                  type="hidden"
                  name="id"
                  value="<%= flashcard.id %>">
              <input
                  style="width: 50px;"
                  name="frontText"
                  value="<%= flashcard.frontText %>">
              <input
                  type="submit"
                  value="Update">
            </form>
          </li>
        <% } %>
      </ul>
      <hr>
      <table
          style="border-collapse: collapse;">
        <tr>
          <th>id</th>
          <th>type</th>
          <th>action</th>
          <th>updates</th>
        </tr>
        <% for (const event of events) { %>
          <tr>
            <td><%= event.id %></td>
            <td><%= event.type %></td>
            <td><%= event.action %></td>
            <td><%= JSON.stringify(event.updates) %></td>
          </tr>
        <% } %>
      </table>
    </div>
    <div
        style="padding: 10px; width: 60vw;">
      <table
          style="border-collapse: collapse;">
        <tr>
          <th>id</th>
          <th>flashcard id</th>
          <th>seq no</th>
          <th>planned day</th>
          <th>actual date</th>
          <th>action</th>
        </tr>
        <% for (const repetition of repetitions) { %>
          <tr
              style="<% if (repetition.today) { %>background-color: #f0fff0;<% } %>">
            <td><%= repetition.id %></td>
            <td><%= repetition.flashcardId %></td>
            <td><%= repetition.seq %></td>
            <td><%= repetition.plannedDay %></td>
            <td><%= repetition.actualDate %></td>
            <td>
              <% if (!repetition.actualDate && repetition.today) { %>
                <form
                    action="/repetitions/<%= repetition.id %>"
                    method="POST">
                  <input
                      type="hidden"
                      name="actualDate"
                      value="<%= date %>">
                  <input
                      type="submit"
                      value="Memorize">
                </form>
              <% } %>
              </form>
            </td>
          </tr>
        <% } %>
      </table>
    </div>
  </div>

</body>
